@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

* {
  font-family: 'Lekton', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin {
  display: flex;
  padding: 15px;
}

.admin > nav {
  padding-right: 2rem;
}

.admin > main {
  flex: 1;
  border-left: solid 1px #ccc;
  padding-left: 2rem;
}

em {
  color: red;
}

a {
  color: #ce5b78;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

textarea,
input {
  width: 50%;
  border: solid 1px #ccc;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  font-family: 'Lekton', sans-serif;
  padding: 3px;
}

button {
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 700;
}
